@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* Membuat font terlihat lebih tajam dan tidak bergerigi */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #f8fafc; /* Slate-50 background global */
    }

    /* Custom Scrollbar yang modern */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
    }
}